<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="pt-BR" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DesafioWebMotors</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    
    <div class="container content">
        <h1>Desafio WebMotors </h1>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~js/site.js" type="text/javascript"> </script>
    <footer class="border-top footer text-muted">
    </footer>
</body>
</html>
