@model Anuncio;

<div class="row">
    <div class="col">
        <form method="post" asp-action="AtualizarAnuncio" asp-route-id="@Model.Id">
            <div class="row">
                <div class="col">
                    <label>
                        Marca:
                        <input asp-for="Marca" class="form-control" type="text"  /> 
                    </label>
                </div>
                <br />
                 <div class="col">
                    <label>
                        Modelo:
                        <input asp-for="Modelo" class="form-control" type="text"  /> 
                    </label>
                    <br/>
                </div>
                <br />
                 <div class="col">
                    <label>
                        Versão:
                        <input asp-for="Versao" class="form-control" type="text"  /> 
                    </label>
                </div>
                <br />
                <div class="col">
                    <label>
                        Ano:
                        <input asp-for="Ano" class="form-control" type="number"  /> 
                    </label>
                </div>
                <br />
                <div class="col">
                    <label>
                        Quilometragem:
                        <input asp-for="Quilometragem" class="form-control" type="number"  /> 
                    </label>
                </div>
            </div>
                  <input type="submit" class="btn btn-primary" value="Atualizar esse Anuncio"> 
        </form>
    </div>
</div>
