@{
  //  ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href ="/WebMotors/ListarMarcas"> Listar Marcas</a>
    <a href ="/WebMotors/Adicionar"> Adicionar</a>
    <a href ="/WebMotors/ListarModelos"> Listar Modelos</a>


</div>
