@{
  //  ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href ="/WebMotors/ListarMarcas"> Listar Marcas</a> <br />
    <a href ="/WebMotors/Adicionar"> Adicionar</a> <br />
    <a href ="/WebMotors/ListarModelos"> Listar Modelos</a> <br />
    <a href ="/WebMotors/ListarVeiculos"> Listar Veículos</a> <br />
    <a href ="/WebMotors/ListarAnuncios"> Listar Anuncios</a> <br />
    <a href ="/WebMotors/AtualizarAnuncios"> Atualizar Anuncios</a> <br />



</div>
